{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>FBR API</title>
    <link rel='stylesheet' href="{% static 'base/css/bootstrap.min.css' %}" type='text/css'>
    <link rel='stylesheet' href="{% static 'base/css/dashboard.css' %}" type='text/css'>
    <link rel='stylesheet' href="{% static 'base/css/slimselect.css' %}" type='text/css'>
    <script src="{% static 'base/js/slimselect.min.js' %}"></script>
    <script src="{% static 'base/js/jquery.min.js' %}"></script>
    <link rel='stylesheet' href="{% static 'base/css/datatables.min.css' %}" type='text/css'>
    <script src="{% static 'base/js/datatables.min.js' %}"></script>


    <style type="text/css">
      .sidebar li .submenu{ 
        list-style: none; 
        margin: 0; 
        padding: 0; 
        padding-left: 1rem; 
        padding-right: 1rem;
      }
      .sidebar li ul li a{ 
        margin: 1px; 
        padding: 1px; 
        padding-left: 1rem;
      }
      .sidebar li ul li a:hover{ 
        color:black;
        background-color: #f8f9fa;
      }
      .sidebar li ul{ 
        background-color: lightgray;
      }
    </style>
    </head>
    <body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">
                <strong>{{ message|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <div x-data="handler()" x-cloak>
        <br>
        <h5>FBR API</h5>
        <div>
          <form class="row g-3" id="transaction_type_form" @submit.prevent="submit1">
              <div class="col-md-4">
                <label for="invoice_date" class="form-label">Invoice Date</label>
                <input type="text" x-model="transaction_type" class="form-control form-control-sm" id="invoice_date" min="{{start_date}}" max="{{end_date}}">
              </div>
              <button type="submit" class="btn btn-sm btn-primary w-25 mx-2" :disabled="form_loading" x-text="submit_text"></button>
          </form>
        </div>
        <br>
        <h5>Scenario</h5>
        <div>
          <form action="/scenario" method="post" class="row gx-3 gy-2 align-items-end">
            {% csrf_token %}

            <div class="col-auto">
              <button type="submit" class="btn btn-sm btn-primary ">Scenario 2</button>
            </div>

          </form>
        </div>
    </div>
<script>
  function handler() {
  return {
    messages: '',
    errors: '',
    transaction_type : 'Hello',
    submit_text: "Submit",
    form_loading: false,
    submit1(event) {
        event.preventDefault();
        this.form_loading = true;
        this.submit_text = 'Submitting...';

        const endpointUrl = "get_transaction_type"
        fetch(endpointUrl, {
            method: "post",
            body: JSON.stringify({
              transaction_type : this.transaction_type,
            }),
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => {
            return response.json();
        })
        .then(data => {
          this.errors = data.errors
          this.messages = data.messages
          if(!this.errors){
            this.msgShow = true
            setTimeout(() => this.msgShow = false, 1000)
            if (!this.save) {
              setTimeout(() => location.reload() = false, 1500)
            }
          }
        })
        .finally(()=>{
            this.form_loading = false;
            this.submit_text = 'Submit';
        });
      },
  }
}
</script>
<script src="{% static 'base/js/alpine.min.js' %}"></script>
<script src="{% static 'base/js/bootstrap.bundle.min.js' %}"></script>
<style>
  [x-cloak] {display: none !important;  }
</style>
</body>
</html>
