{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>FBR API</title>
    <link rel='stylesheet' href="{% static 'base/css/bootstrap.min.css' %}" type='text/css'>
    <link rel='stylesheet' href="{% static 'base/css/dashboard.css' %}" type='text/css'>
    <link rel='stylesheet' href="{% static 'base/css/slimselect.css' %}" type='text/css'>
    <script src="{% static 'base/js/slimselect.min.js' %}"></script>
    <script src="{% static 'base/js/jquery.min.js' %}"></script>
    <link rel='stylesheet' href="{% static 'base/css/datatables.min.css' %}" type='text/css'>
    <script src="{% static 'base/js/datatables.min.js' %}"></script>


    <style type="text/css">
      .sidebar li .submenu{ 
        list-style: none; 
        margin: 0; 
        padding: 0; 
        padding-left: 1rem; 
        padding-right: 1rem;
      }
      .sidebar li ul li a{ 
        margin: 1px; 
        padding: 1px; 
        padding-left: 1rem;
      }
      .sidebar li ul li a:hover{ 
        color:black;
        background-color: #f8f9fa;
      }
      .sidebar li ul{ 
        background-color: lightgray;
      }
    </style>
    </head>
    <body>

    <div x-data="handler()" x-cloak>
        <div class="d-flex justify-content-between">
          <form class="row m-1 border border-1 rounded p-1" @submit.prevent="submit1">
              <div class="col-md-8 d-flex justify-content-start align-items-center">
                <label class="form-label">Transaction Type</label>
              </div>
              <div class="col-md-4 d-flex justify-content-end align-items-center">
                <button type="submit" class="btn btn-sm btn-primary" :disabled="form_loading" x-text="submit_text"></button>
              </div>
          </form>
          <form class="row m-1 border border-1 rounded p-1" @submit.prevent="submit2">
              <div class="col-md-8">
                <label for="param1" class="form-label">Sale Type to Rate</label>
                <input type="text" x-model="param1" class="form-control form-control-sm" id="param1">
              </div>
              <div class="col-md-4 d-flex align-items-end">
                <button type="submit" class="btn btn-sm btn-primary" :disabled="form_loading" x-text="submit_text"></button>
              </div>
          </form>
          <form class="row m-1 border border-1 rounded p-1" @submit.prevent="submit3">
              <div class="col-md-8">
                <label for="param2" class="form-label">SRO / Schedule</label>
                <input type="text" x-model="param2" class="form-control form-control-sm" id="param2">
              </div>
              <div class="col-md-4 d-flex align-items-end">
                <button type="submit" class="btn btn-sm btn-primary" :disabled="form_loading" x-text="submit_text"></button>
              </div>
          </form>
          <form class="row m-1 border border-1 rounded p-1" @submit.prevent="submit4">
              <div class="col-md-8">
                <label for="param3" class="form-label">SRO Item</label>
                <input type="text" x-model="param3" class="form-control form-control-sm" id="param3">
              </div>
              <div class="col-md-4 d-flex align-items-end">
                <button type="submit" class="btn btn-sm btn-primary" :disabled="form_loading" x-text="submit_text"></button>
              </div>
          </form>
        </div>
        <div class="d-flex justify-content-between">
          <form class="row m-1 border border-1 rounded p-1" @submit.prevent="submit5">
              <div class="col-md-8 d-flex justify-content-start align-items-center">
                <label class="form-label">All HS Codes</label>
              </div>
              <div class="col-md-4 d-flex justify-content-end align-items-center">
                <button type="submit" class="btn btn-sm btn-primary" :disabled="form_loading" x-text="submit_text"></button>
              </div>
          </form>
          <form class="row m-1 border border-1 rounded p-1" @submit.prevent="submit6">
              <div class="col-md-8">
                <label for="param4" class="form-label">UOM of HS Code</label>
                <input type="text" x-model="param4" class="form-control form-control-sm" id="param4">
              </div>
              <div class="col-md-4 d-flex align-items-end">
                <button type="submit" class="btn btn-sm btn-primary" :disabled="form_loading" x-text="submit_text"></button>
              </div>
          </form>
          <form class="row m-1 border border-1 rounded p-1" @submit.prevent="submit7">
              <div class="col-md-8">
                <label for="param5" class="form-label">Registered or not?</label>
                <input type="text" x-model="param5" class="form-control form-control-sm" id="param5">
              </div>
              <div class="col-md-4 d-flex align-items-end">
                <button type="submit" class="btn btn-sm btn-primary" :disabled="form_loading" x-text="submit_text"></button>
              </div>
          </form>
          <form class="row m-1 border border-1 rounded p-1" @submit.prevent="submit8">
              <div class="col-md-8 col-md-4 d-flex align-items-end">
                <label for="param6" class="form-label">Active Taxpayer?</label>
                <input type="text" x-model="param6" class="form-control form-control-sm" id="param6">
                <input type="date" x-model="param7" class="form-control form-control-sm" id="param7">
              </div>
              <div class="col-md-4 d-flex align-items-end">
                <button type="submit" class="btn btn-sm btn-primary" :disabled="form_loading" x-text="submit_text"></button>
              </div>
          </form>
        </div>
        <br>
        <div>
          <ul style="list-style-type: none;" x-show="openp">
            <template x-for="(value, index) in p_data">
              <li>
                <span x-text="index"></span>: <span x-text="value"></span>
              </li>
            </template>
          </ul>
        </div>
        <div>
          <ul style="list-style-type: none;" x-show="opend">
            <template x-for="(value, index) in div_data">
              <li>
                <span x-text="index+1"></span>:
                <ul style="list-style-type: none;">
                  <template x-for="(v, i) in value">
                    <li>
                      <span x-text="i"></span>: <span x-text="v"></span>
                    </li>
                  </template>
                </ul>
              </li>
            </template>
          </ul>
        </div>
        <h5>Scenario</h5>
        <div>
          <form action="/scenario" method="post" class="row gx-3 gy-2 align-items-end">
            {% csrf_token %}

            <div class="col-auto">
              <button type="submit" class="btn btn-sm btn-primary ">Scenario 2</button>
            </div>

          </form>
        </div>
    </div>
<script>
  function handler() {
  return {

    param1 : '',
    param2 : '',
    param3 : '',
    param4 : '',
    param5 : '',
    param6 : '',
    param7 : '',
    p_data: '',
    div_data: '',
    submit_text: "Fetch",
    form_loading: false,
    opend: false,
    openp: false,

    submit1(event) {
        event.preventDefault();
        this.form_loading = true;
        this.submit_text = 'Wait...';

        const endpointUrl = "get_transaction_type"
        fetch(endpointUrl, {
            method: "post",
            body: JSON.stringify({
            }),
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => {
            return response.json();
        })
        .then(data => {
          this.opend = false;
          this.openp = false;
          this.opend = true;
          this.div_data = data;
        })
        .finally(()=>{
            this.form_loading = false;
            this.submit_text = 'Fetch';
        });
      },

      submit2(event) {
        event.preventDefault();
        this.form_loading = true;
        this.submit_text = 'Wait...';

        const endpointUrl = "get_sale_type_to_rate"
        fetch(endpointUrl, {
            method: "post",
            body: JSON.stringify({
              param1 : this.param1,
            }),
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => {
            return response.json();
        })
        .then(data => {
          this.opend = false;
          this.openp = false;
          this.opend = true;
          this.div_data = data;
        })
        .finally(()=>{
            this.form_loading = false;
            this.submit_text = 'Fetch';
        });
      },

      submit3(event) {
        event.preventDefault();
        this.form_loading = true;
        this.submit_text = 'Wait...';
        const endpointUrl = "sro_schedule"
        fetch(endpointUrl, {
            method: "post",
            body: JSON.stringify({
              param2 : this.param2,
            }),
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => {
            return response.json();
        })
        .then(data => {
          this.opend = false;
          this.openp = false;
          this.opend = true;
          this.div_data = data;
        })
        .finally(()=>{
            this.form_loading = false;
            this.submit_text = 'Fetch';
        });
      },

      submit4(event) {
        event.preventDefault();
        this.form_loading = true;
        this.submit_text = 'Wait...';
        const endpointUrl = "sro_item"
        fetch(endpointUrl, {
            method: "post",
            body: JSON.stringify({
              param3 : this.param3,
            }),
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => {
            return response.json();
        })
        .then(data => {
          this.opend = false;
          this.openp = false;
          this.opend = true;
          this.div_data = data;
        })
        .finally(()=>{
            this.form_loading = false;
            this.submit_text = 'Fetch';
        });
      },

    submit5(event) {
        event.preventDefault();
        this.form_loading = true;
        this.submit_text = 'Wait...';
        const endpointUrl = "get_hs_codes"
        fetch(endpointUrl, {
            method: "post",
            body: JSON.stringify({
            }),
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => {
            return response.json();
        })
        .then(data => {
          this.opend = false;
          this.openp = false;
          this.opend = true;
          this.div_data = data;
        })
        .finally(()=>{
            this.form_loading = false;
            this.submit_text = 'Fetch';
        });
      },

      submit6(event) {
        event.preventDefault();
        this.form_loading = true;
        this.submit_text = 'Wait...';
        const endpointUrl = "get_hs_uom"
        fetch(endpointUrl, {
            method: "post",
            body: JSON.stringify({
              param4 : this.param4,
            }),
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => {
            return response.json();
        })
        .then(data => {
          this.opend = false;
          this.openp = false;
          this.opend = true;
          this.div_data = data;
        })
        .finally(()=>{
            this.form_loading = false;
            this.submit_text = 'Fetch';
        });
      },

      submit7(event) {
        event.preventDefault();
        this.form_loading = true;
        this.submit_text = 'Wait...';
        const endpointUrl = "get_reg_type"
        fetch(endpointUrl, {
            method: "post",
            body: JSON.stringify({
              param5 : this.param5,
            }),
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => {
            return response.json();
        })
        .then(data => {
          this.opend = false;
          this.openp = false;
          this.openp = true;
          this.p_data = data;
        })
        .finally(()=>{
            this.form_loading = false;
            this.submit_text = 'Fetch';
        });
      },

      submit8(event) {
        event.preventDefault();
        this.form_loading = true;
        this.submit_text = 'Wait...';
        const endpointUrl = "get_status"
        fetch(endpointUrl, {
            method: "post",
            body: JSON.stringify({
              param6 : this.param6,
              param7 : this.param7,
            }),
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => {
            return response.json();
        })
        .then(data => {
          this.opend = false;
          this.openp = false;
          this.openp = true;
          this.p_data = data;
        })
        .finally(()=>{
            this.form_loading = false;
            this.submit_text = 'Fetch';
        });
      },

    }
}
</script>
<script src="{% static 'base/js/alpine.min.js' %}"></script>
<script src="{% static 'base/js/bootstrap.bundle.min.js' %}"></script>
<style>
  [x-cloak] {display: none !important;  }
</style>
</body>
</html>
