{% extends "base/base.html" %}
{% block title %} Reports {% endblock %}
{% block mainhead %} Ledger {% endblock %}
{% block subhead %} Reports {% endblock %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info">
            <strong>{{ message|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<br>
<h5>Scenario</h5>
<div>
  <form action="/scenario" method="post" class="row gx-3 gy-2 align-items-end">
    {% csrf_token %}

    <div class="col-auto">
      <button type="submit" class="btn btn-sm btn-primary ">Scenario 2</button>
    </div>

  </form>
</div>
<script>
</script>
{% endblock %}